@import "normalize";

$theme-color-map: (
  'Default': #c05b4d #f8f5ec,
  'Mint Green': #16982B #f5f5f5,
  'Cobalt Blue': #0047AB #f0f2f5,
  'Hot Pink': #FF69B4 #f8f5f5,
  'Dark Violet': #9932CC #f5f4fa
);

// TODO: allow to change that
$main-colour: #c05b4d;
$secondary-colour: #f8f5ec;
$body-width: 800px;
$mobile-navbar-height: 50px !default;
$code-colour: #c7254e;
$code-font-family: Consolas, Monaco, Menlo, Consolas, monospace !default;
$decoration-font-family: Athelas, STHeiti, Microsoft Yahei, serif;


$main-colour: #3689e6;
//$secondary-colour: #fff394;
$code-colour: #002e99;

// $main-colour: #559599;
// $secondary-colour: #f7f1de;
// $code-colour: #344659;

//paal
//$main-colour: #9cca76;
//$secondary-colour: #c2deaa;
//$code-colour: #002e00;


@mixin min-screen($min-width: $body-width) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

@mixin max-screen($max-width: $body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}

@import "animations";

@import "base";
@import "header";
@import "main";
@import "mobile";
@import "slideout";
@import "toc";


:root {
  --strawberry-100: #ff8c82;
  --strawberry-300: #ed5353;
  --strawberry-500: #c6262e;
  --strawberry-700: #a10705;
  --strawberry-900: #7a0000;
  --orange-100: #ffc27d;
  --orange-300: #ffa154;
  --orange-500: #f37329;
  --orange-700: #cc3b02;
  --orange-900: #a62100;
  --banana-100: #fff394;
  --banana-300: #ffe16b;
  --banana-500: #f9c440;
  --banana-700: #d48e15;
  --banana-900: #ad5f00;
  --lime-100: #d1ff82;
  --lime-300: #9bdb4d;
  --lime-500: #68b723;
  --lime-700: #3a9104;
  --lime-900: #206b00;
  --blueberry-100: #8cd5ff;
  --blueberry-300: #64baff;
  --blueberry-500: #3689e6;
  --blueberry-700: #0d52bf;
  --blueberry-900: #002e99;
  --grape-100: #e4c6fa;
  --grape-300: #cd9ef7;
  --grape-500: #a56de2;
  --grape-700: #7239b3;
  --grape-900: #452981;
  --cocoa-100: #a3907c;
  --cocoa-300: #8a715e;
  --cocoa-500: #715344;
  --cocoa-700: #57392d;
  --cocoa-900: #3d211b;
  --silver-100: #fafafa;
  --silver-200: #eeeeee;
  --silver-300: #d4d4d4;
  --silver-500: #abacae;
  --silver-700: #7e8087;
  --silver-900: #555761;
  --slate-100: #95a3ab;
  --slate-300: #667885;
  --slate-500: #485a6c;
  --slate-700: #273445;
  --slate-900: #0e141f;
  --black-100: #666666;
  --black-300: #4d4d4d;
  --black-500: #333333;
  --black-700: #1a1a1a;
  --black-900: #000000;
  --solarized-base01: #586e75;
  --solarized-base02: #073642;
  --solarized-base03: #002b36;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-yellow: #b58900;
  --paal-light: #d0e6bf;
  --bg-color: white;
  --fg-color: var(--black-500);
  --accent-color: var(--blueberry-700);
  --header-color: var(--blueberry-300);
  --secondary-bg-color: var(--silver-100);
  --secondary-fg-color: var(--black-300)
}
:root {
  --ui-font: "Open Sans", "Noto Sans", "Roboto", "Droid Sans", sans-serif;
  --copy-font: "Noto Serif", "Droid Serif", serif;
  --heading-font: Raleway, var(--ui-font)
}

:root {
  --page-width: 60rem;
  --content-width: 40rem
}

hr {
    border: none;
    margin: 3em auto;
    max-width: 50%
}

hr::before {
    content: "...";
    display: block;
    font-weight: bold;
    letter-spacing: 1em;
    text-align: center
}

.post-tags a {
  background-color: var(--banana-500);
  border-radius: 0.25em;
  color: var(--banana-900);
  display: inline-block;
  font-family: var(--ui-font);
  font-size: 0.75em;
  line-height: 2em;
  margin: 0.125em;
  padding: 0 0.5em;
  text-decoration: none
}

blockquote {
  max-width: var(--content-width);
  margin-left: auto;
  padding-left: 1em;
  margin-right: auto;
  font-style: italic;
  border-left: 0.125em solid var(--accent-color);

}

blockquote em,
blockquote i {
  font-style: normal
}

.logo-description {
  background-image: url(moss_0.jpg);
  background-repeat: no-repeat; 
  display: block;
  color: var(--silver-100);
  font-family: var(--copy-font);
  font-size: 2em;
  font-style: italic;
  line-height: 4em;
  padding-left: 25px;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .logo-description {
    visibility: hidden;
    display: none;
  }
}
